@{
    ViewData["Title"] = "Dashboard";
}

<p>
    <a href="/ATM/Index" class="btn btn-primary">Login</a>
</p>

<h2>Welcome to ATM Dashboard</h2>

<ul>
    <li><a href="/ATM/Deposit">Deposit Money</a></li>
    <li><a href="/ATM/Withdraw">Withdraw Money</a></li>
    <li><a href="/ATM/ShowBalance">Show Balance</a></li>
    <li><a href="/ATM/MiniStatement">Mini Statement</a></li>
</ul>
